<!-- PÁGINA LÍDERES -->
<!-------------------->
<ons-page>
    <ons-toolbar fixed-style>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">e-Voz</div>
        <div class="right">
            <ons-toolbar-button>
                <ons-icon icon="md-search"></ons-icon>
            </ons-toolbar-button>
            <ons-toolbar-button>
                <ons-icon icon="md-more-vert"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <!-- Título -->
    <ons-row>
        <ons-col width="25%" class="title-left">
            <ons-icon icon="md-chevron-left" onclick="fn.load('views/categorias.html')" tappable swipeable></ons-icon>
        </ons-col>
        <ons-col width="50%" class="title-center">
            Líderes
        </ons-col>
        <ons-col width="25%" class="title-right">
            <ons-icon icon="md-chevron-right" onclick="fn.load('views/estatisticas.html')" tappable swipeable></ons-icon>
        </ons-col>
    </ons-row>
</ons-page>
