/**/

/* Title page */
/* ---------- */
.title-center {
  padding: 20px;
  font-size: 120%;
  text-align: center;
}

.title-left {
  padding: 20px 15px;
  font-size: 120%;
  text-align: left;
}

.title-right {
  padding: 20px 15px;
  font-size: 120%;
  text-align: right;
}

/* SP map */
/* ------ */



